<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="svchost.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <svchost.My.MySettings>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="remi" serializeAs="String">
                <value>kevinmolinataylor@gmail.com</value>
            </setting>
            <setting name="contra" serializeAs="String">
                <value>developers:$cisco123</value>
            </setting>
            <setting name="desti" serializeAs="String">
                <value>kevinmolinataylor@gmail.com</value>
            </setting>
            <setting name="ControlTM" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ActT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tm" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TP" serializeAs="String">
                <value>Min</value>
            </setting>
            <setting name="No" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>Developers</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>ciscosecurity</value>
            </setting>
            <setting name="AutR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ruta" serializeAs="String">
                <value>vacio</value>
            </setting>
            <setting name="Cor" serializeAs="String">
                <value />
            </setting>
            <setting name="EsIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="remot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="icono" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="capt" serializeAs="String">
                <value>vacio</value>
            </setting>
        </svchost.My.MySettings>
    </userSettings>
</configuration>
